#app {
  background-color: black;
}

#appTitle {
  color: white;
}

#navBar {
  justify-content: center;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  background-color: black;
}

#nukeImage {
  width: 50px;
  height: 50px;
}
